@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: #11dbab;
    opacity: 40%;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #7B6CD9;
    border-radius: 100vh;
    border: 3px solid #11dbab;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #952f7f;
  }
}
